*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

.player{
  width: 100vw;
  height: 100vh;
  background-image: url("https://d2gfz7wkiigkmv.cloudfront.net/pickin/2/1/2/CHw9H6zgSFWPODG7t3hgFA");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}